spring:
  application:
    name: marketplace-mvp
  
  data:
    mongodb:
      uri: mongodb://mongodb:27017/marketplace
      auto-index-creation: true
  
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
    mode: HTML
  
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

keycloak:
  realm: marketplace
  auth-server-url: http://keycloak:8080
  ssl-required: external
  resource: marketplace-client
  public-client: true
  bearer-only: false
  use-resource-role-mappings: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.cryptodrop: DEBUG
    org.springframework.security: DEBUG
    org.keycloak: DEBUG

