spring:
  flyway:
    clean-disabled: false
    validate-on-migrate: false
  application:
    name: marketplace-mvp
  
  datasource:
    url: jdbc:postgresql://localhost:5434/cryptodrop
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: admin
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
    mode: HTML
  
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8082
  error:
    include-message: always
    include-binding-errors: always

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.cryptodrop: DEBUG
    org.springframework.security: DEBUG
